* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: lightpink;
}

#contentWrapper {
  display: flex;
}

#inputAreaWrapper {
  width: min-content;
}

#inputArea {
  gap: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#area {
  display: flex;
  justify-content: space-between;
}

#add_btn {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
  background-color: #c7ffad;
  padding: 15px 20px;
  border-radius: 5px;
  transition: linear 0.2s;
}

#add_btn:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #f3ffbf;
}

#resultAreaWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #contentWrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}